body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
 
}


.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
}


.login-card {
  display: flex;
  width: 800px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


.login-left {
  flex: 1;
  background-color: #007bff;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.login-left img {
  height: 80px;
  margin-bottom: 20px;
}

.login-left h2 {
  font-size: 24px;
  font-weight: 600;
}


.login-right {
  flex: 1;
  padding: 40px;
}

.login-right h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.login-button {
  padding: 12px;
  background-color: #212121;
  color: white;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  transition: 0.3s ease;
}

.login-button:hover {
  background-color: #0dcaf0;
}


.custom-btn-white {
  border: 1px solid #e5e7e9;
  background-color: #fdfeff;
  color: #000;
  width: 100%;
  margin-top: 15px;
  padding: 14px;
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

/* Responsive */
@media (max-width: 768px) {
  .login-card {
    flex-direction: column;
    width: 90%;
  }

  .login-left {
    padding: 20px;
  }

  .login-right {
    padding: 20px;
  }
}
